<title>Feedr | Guide</title>

<p>Generating an XML for a site can be divided into three steps:</p>

<ol>
  <li><a href="#step-1">Listing elements</a></li>
  <li><a href="#step-2">Generating XML</a></li>
  <li><a href="#step-3">Consuming XML</a></li>
</ol>

<p>We'll go through each step, creating a XML for an example website (<a href='https://plurrrr.com/'>Plurrrr</a>) to understand the process.</p>

<h3 id="step-1">Listing elements</h3>

<p>Visit the website you want XML for. Find the HTML tags of the elements for title, link and description, in this order.</p>

<img src='/guide_1.png' class='guide-screenshot'></img>

<p>On Plurrrr, we can see that the title, link and description are nested in the article tag.</p>
<p>Nested elements are specified using spaces on Feedr. By default an element's text is extracted, but if you want you can specify an attribute using the = operator.</p>
<p>Target an element's class using the dot symbol (<code>.</code>) and id using a hashtag (<code>#</code>).</p>

<p>For Plurrrr, the title, link and description's identifiers will be:
  <pre><code>
    article h2
    article p a=href
    article blockquote p
  </code></pre>

  Notice the equal operator to specify that the href attribute of the nested a element should be extracted.
</p>

<h3 id="step-2">Generating XML</h3>

<p>Log in to Feedr. You'll be greeted by the <em>My feeds</em> section.</p>
<p>Click on the <em>Add new feed</em> link. Specify the URL and the previously noted identifiers</p>

<img src='/guide_2.png' class='guide-screenshot'></img>

<p>Click on the <em>Extract</em> button. Verify that the extracted text and the order in which they appear is correct.</p>

<p>Enter feed title, link and description.</p>

<img src='/guide_3.png' class='guide-screenshot'></img>

<p>Click on the <em>Add Feed</em> button. You will be redirect to your feeds. Here you'll notice a new entry has beeen created for your website. Click on it to get it's XML.</p>

<img src='/guide_4.png' class='guide-screenshot'></img>

<h3 id="step-3">Consuming XML</h3>

<p>Copy the URL of the generated XML and add it to your RSS feed application. That's it!</p>

<img src='/guide_5.png' class='guide-screenshot'></img>
