<title>Feedr | Guide</title>

<h2>Guide</h2>

<!--Divide in sections, add images-->

<p>Generating an XML for a site can be divided into three steps:</p>

<ol>
  <li>Listing elements</li>
  <li>Generating XML</li>
  <li>Consuming XML</li>
</ol>

<p>We'll go through each step, creating a XML for an example website (<a href='https://plurrrr.com/'>Plurrrr</a>) to understand the process.</p>

<h3>Listing elements</h3>

<p>Following are the steps you can take to create a XML for a site. The XML will be hosted on Feedr's servers, which you can then add to your RSS aggregator.</p>

<ol>
  <li>Visit the website you want to edit. Right click on the page, and select "view source". This will show you the initial HTML response by the website's server. Do not use the browser's devtools because it shows HTML which might have been modified by client side JavaScript.</li>

  <br>

  <li>Find the elements that you want to target, take note of their HTML element names and the attributes that you want from it.</li>

  <br>

  <li>Visit to <a href='http://127.0.0.1:4567/feed/new'>add feed</a> page on Feedr.</li>

  <br>

  <li>The syntax for extraction is as follows:
    <br>
    <code>$ELEMENT_NAME=$ATTRIBUTE_NAME</code>
    <br>
    <br>
    If you have nested elements, then you can specify them with a space. The attribute is given to the last element and is optinal. Leave out the attribute part, including the equal sign if you wish to extract the text contents of an element.
  </li>

  <br>

  <li>Mention the URL of the website. Mention the elements that you want to extract, one on each line.</li>

  <br>

  <li>Click the extract button and wait a couple of seconds.</li>

  <br>

  <li>View the extracted contents. The first item will become the XML title, second the link and the third will become the item description. <em>Any extract patterns mentioned after the third line will be ignored.</em></li>

  <br>

  <li>Add feed title and description when you are satisfied with the extracted text and order.</li>

  <br>

  <li>Click on the Add Feed button.</li>

  <br>

  <li>Feed will be added and you will be redirected to your Feedr index page where you can manage all your feeds.</li>

  <br>

  <li>Click on the recently added feed to view the generated XML.</li>

  <br>

  <li>You can now copy the URL of this XML page and add it your RSS aggregator.</li>

</od>
