<h1>Feedr</h1>

<section>
  <label>
    URL
    <input id='url'>
  </label>

  <br>
  <br>

  <button id='load'>Load</button>

  <br>
  <br>
  <textarea readonly id='html' cols='70' rows='30'></textarea>

</section>

<br>
<br>
<br>

<section>
  <label>Enter item identifiers
    <br>
    <textarea id='identifiers' cols='70' rows='7'></textarea>
  </label>

  <br>
  <br>

  <button id='extract'>Extract</button>

  <br>
  <br>

  <textarea readonly id='extractions' cols='70' rows='20'></textarea>
</section>

<script>
  // Globals
  let URL = 'https://plurrrr.com/'

  // HTML load
  const urlInput = document.getElementById('url')
  const loadButton = document.getElementById('load')
  const htmlArea = document.getElementById('html')
  const extractions = document.getElementById('extractions')

  async function loadHTML(url) {
    const res = await fetch(`/source/?url=${url}`)
    const data = await res.text()
    return data
  }

  loadButton.addEventListener('click', async (e) => {
    URL = encodeURI(urlInput.value)
    const html = await loadHTML(URL)

    htmlArea.value = html
  })

  // HTML extract
  const extractButton = document.getElementById('extract')
  const items = document.getElementById('items')

  async function extractText(body) {
    const res = await fetch(`/extract`,
      {
        method: 'POST',
        headers: { 'Content-Type': 'application/json'},
        body: JSON.stringify(body)
      })
    const data = await res.text()
    return data
  }

  function renderExtractedData(items) {
    let result = '';
    items.forEach((item, index) => {
      let keyCount = Object.keys(item).length;
      let currentIndex = 0;

      for (let key in item) {
        result += item[key];
        currentIndex++;

        if (currentIndex < keyCount) {
          result += '\n';
        } else {
          result += '\n\n\n';
        }
      }
    });

  extractions.innerHTML = result;
  }

  extractButton.addEventListener('click', async (e) => {
    const body = { url: URL, identifiers: identifiers.value }
    const extractedText = await extractText(body)
    renderExtractedData(JSON.parse(extractedText))
  })
</script>
