<h1>Feedr</h1>

<section>
  <form autocomplete='off' hx-ext='json-enc' hx-post='/load' hx-target='#html' hx-trigger='submit' hx-swap='outerHTML'>
    <label>
      URL
      <br>
      <input autocomplete='off' autofocus required type='url' id='url' name='url' value='https://plurrrr.com/'>
    </label>

    <br>
    <br>

    <button>Load</button>
  </form>

  <br>
  <textarea readonly id='html' name='html' cols='70' rows='30'></textarea>

</section>

<br>
<br>

<section>
  <form autocomplete='off' hx-ext='json-enc' hx-post='/extract' hx-target='#extractions' hx-trigger='submit' hx-swap='outerHTML' hx-include='#url'>

    <label>Enter item identifiers
      <br>
      <textarea required id='identifiers' name='identifiers' cols='70' rows='7'>article h2
article h2 a=href</textarea>

    </label>

    <br>
    <br>

    <button id='extract'>Extract</button>

  </form>
  <br>

  <textarea readonly id='extractions' name='extractions' cols='70' rows='20'></textarea>
</section>

<br>
<br>

<section>
  <form autocomplete='off' hx-ext='json-enc' hx-post='/feed/create' hx-trigger='submit' hx-include='#url, #identifiers'>
    <label>
      Feed Title
      <br>
      <input required id='feed_title' name='feed_title' value='my title'>
    </label>

    <br>
    <br>

    <label>
      Feed Description
      <br>
      <input required id='feed_description' name='feed_description' value='my description'>
    </label>

    <br>
    <br>

    <button id='create'>Create Feed</button>
  </form>
</section>

<div id='created'></div>

<!--<script>
  // Globals
  let URL = ''

  // HTML load
  const urlInput = document.getElementById('url')
  const loadButton = document.getElementById('load')
  const htmlArea = document.getElementById('html')
  const extractions = document.getElementById('extractions')

  async function loadHTML(url) {
    const res = await fetch(`/load`,
      {
        method: 'POST',
        headers: { 'Content-Type': 'application/json'},
        body: JSON.stringify({url: url})
      })

    const data = await res.text()
    return data
  }

  loadButton.addEventListener('click', async (e) => {
    e.preventDefault()
    URL = encodeURI(urlInput.value)
    const html = await loadHTML(URL)
    htmlArea.value = html
  })

  // HTML extract
  const extractButton = document.getElementById('extract')
  const items = document.getElementById('items')

  async function extractText(body) {
    const res = await fetch(`/extract`,
      {
        method: 'POST',
        headers: { 'Content-Type': 'application/json'},
        body: JSON.stringify(body)
      })
    const data = await res.text()
    return data
  }

  function renderExtractedData(items) {
    let result = '';
    items.forEach((item, index) => {
      let keyCount = Object.keys(item).length;
      let currentIndex = 0;

      for (let key in item) {
        result += item[key];
        currentIndex++;

        if (currentIndex < keyCount) {
          result += '\n';
        } else {
          result += '\n\n\n';
        }
      }
    });

  extractions.innerHTML = result;
  }

  extractButton.addEventListener('click', async (e) => {
    e.preventDefault()
    const body = { url: URL, identifiers: identifiers.value }
    const extractedText = await extractText(body)
    renderExtractedData(JSON.parse(extractedText))
  })

  const createButton = document.getElementById('create')
  const feedTitle = document.getElementById('feed_title')
  const feedLink = document.getElementById('feed_link')
  const feedDescription = document.getElementById('feed_description')

  createButton.addEventListener('click', async (e) => {
    const body = {
      url: URL,
      identifiers: identifiers.value,
      title: feedTitle.value,
      link: feedLink.value,
      description: feedDescription.value,
    }

    const res = await fetch(`/feed/create`,
      {
        method: 'POST',
        headers: { 'Content-Type': 'application/json'},
        body: JSON.stringify(body)
      })
    //const data = await res.text()
    //return data
  })
</script>
-->
