<h1>Feedr</h1>

<section>
  <label>
    URL
    <input id='url'>
  </label>

  <br>
  <br>

  <button id='load'>Load</button>

  <br>
  <br>
  <textarea id='html' cols='70' rows='30'></textarea>

</section>

<script>
  const urlInput = document.getElementById('url')
  const loadButton = document.getElementById('load')
  const htmlArea = document.getElementById('html')

  async function loadHTML(url) {
    const res = await fetch(`/source/?url=${url}`)
    const data = await res.text()
    return data
  }

  loadButton.addEventListener('click', async (e) => {
    const url = encodeURI(urlInput.value)
    const html = await loadHTML(url)

    htmlArea.value = html
  })
</script>
