<h2>Your feeds</h2>

<ul>
  <% feeds.each do |feed| %>
    <li>
      <a href="/feed/<%= feed['id'] %>">
        <%= feed['feed_title'] %>
      </a>
      <a href="/feed/<%= feed['id'] %>/edit">
        <button>Edit</button>
      </a>
      <button hx-delete='/feed/<%= feed['id'] %>/delete'>Delete</button>
    </li>
  <% end %>
</ul>

<a href='/feed/new'>Add new feed</a>

<p>Or read the <a href='/docs'>docs</a></p>
