<h2>Add new feed</h2>

<section>
  <form autocomplete='off' hx-ext='json-enc' hx-post='/extract' hx-target='#extractions' hx-trigger='submit' hx-swap='outerHTML'>
    <label>
      URL
      <br>
      <input autocomplete='off' autofocus required type='url' id='url' name='url'>
    </label>

    <br>
    <br>

    <label>Enter item identifiers
      <br>
      <textarea required id='identifiers' name='identifiers' cols='70' rows='3'></textarea>

    </label>

    <p><em>Max 3 identifiers, in the order of title, link and description.</em>See the <a href='/guide'>guide </a> for more information.</p>

    <br>

    <button id='extract'>
      Extract
    </button>

  </form>
  <br>

  <textarea readonly id='extractions' name='extractions' cols='70' rows='10'></textarea>
</section>

<br>
<br>

<section>
  <form autocomplete='off' hx-ext='json-enc' hx-post='/feed/create' hx-trigger='submit' hx-include='#url, #identifiers'>
    <label>
      Feed Title
      <br>
      <input required id='feed_title' name='feed_title'>
    </label>

    <br>
    <br>

    <label>
      Feed Link
      <br>
      <input type='url' required id='feed_link' name='feed_link'>
    </label>

    <br>
    <br>

    <label>
      Feed Description
      <br>
      <textarea required id='feed_description' name='feed_description'></textarea>
    </label>

    <br>
    <br>

    <button id='create'>
      Add Feed
    </button>
  </form>
</section>
