<rss version="2.0">
  <channel>

    <% items.each.with_index do |item, index| %>
      <item>
        <title><%= item["value1"] %></title>
        <link><%= item["value2"] %></link>
      <description><%= item["value3"] %></description>
    </item>
  <% end %>

</channel>
</rss>
